.grid-swiper {
	.van-grid-item__content {
		background-color: #f6f6f6;
	}
}

.product-wrapper {
	.top-bar-wrapper {
		.van-nav-bar__content {
			.van-nav-bar__title {
				max-width: none;
			}
		}
	}
}

.cart-wrap {
	.cart-list-wrap {
		.cart-list-item-wrap {
			.van-card__thumb {
				width: auto;
				height: auto;
			}
		}
	}

	.cart-list-blank-wrap {
		.van-empty__image {
			width: 90px;
			height: 90px;
		}
	}
}

.van-nav-bar__content {
	height: 100%;
}
